<div class="my-container signup">

  <h1 class="text-center">SIGN UP</h1>

  <p class="text-center">Sign up to begin the journey to a better you</p>

  <div class="device-form">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email", class: "full-width form-label-text" } %>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" },
                    class: "full-width form-label-text" %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" },
                    class: "full-width form-label-text" %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'button-yellow' %>
      </div>
    <% end %>
  </div>

  <%# <div class="text-center">
    <%= link_to "Log in", new_user_session_path %>
  <%# </div> %>

</div>
