<nav class="navbar1">
  <div class="container1">
    <%= link_to image_tag("logo-main.png", alt: "Company Logo" , class: "logo-img"), root_path, class: "navbar-brand" %>
    <div class="navbar-links">
      <% if user_signed_in? %>
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag("lemon.png", alt: "User Avatar", class: "avatar-img") %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><%= link_to "Profile",  edit_profile_path, class: "dropdown-item" %></li>
            <li>
              <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          </ul>
        </div>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</nav>
