<div class="dashboard-diet-plan">
  <% meal = diet_plan.day_plan_content %>
  <h2 style="color:black" class="align-self-start mb-5"></h2>

  <hr>
  <hr>
  <hr>

  <div class="diet-plan-container" data-controller="info-dropdown">
    <div class="diet-container-header">

      <div class="diet-container-image">
        <%= image_tag meal["breakfast"]["image"]%>
      </div>

      <div class="diet-container-body">
        <div class="diet-container-titles">
          <h4 class="diet-plan-name" >Breakfast</h4>
          <h5><%= meal["breakfast"]["title"] %></h5>
        </div>

        <div class="diet-symbols">
          <%# insert symbols for diet restrictions %>
        </div>

        <div class="prep-time">
          <p>Time to prepare: <strong><%= meal["breakfast"]["readyInMinutes"] %> Minutes</strong></p>
        </div>

        <div class="nutrition-pills">
          <div class="nutrition-pill">
            <p><%= meal["breakfast"]["nutrition"]["nutrients"][0]["amount"] %> Calories</p>
          </div>
          <div class="nutrition-pill">
            <p>Protein: <%= meal["breakfast"]["nutrition"]["nutrients"][2]["amount"] %> g</p>
          </div>
          <div class="nutrition-pill">
            <p>Carbohydrates: <%= meal["breakfast"]["nutrition"]["nutrients"][3]["amount"] %> g</p>
          </div>
          <div class="nutrition-pill">
            <p>Sugar: <%= meal["breakfast"]["nutrition"]["nutrients"][8]["amount"] %> g</p>
          </div>
          <div class="nutrition-pill">
            <p>Fat: <%= meal["breakfast"]["nutrition"]["nutrients"][5]["amount"] %> g</p>
          </div>
        </div>
        <button type="button" data-info-dropdown-target="button" data-action="click->info-dropdown#toggle" class="more-information-btn">More information</button>
      </div>
    </div>
   <div>
    <div data-info-dropdown-target="content" class="dropdown-content">
      <div class="information-container">
        <div class="information-wrapper" id="ingredients">
          <h5 class="mb-4">Ingredients</h5>
          <ul>
              <% meal["breakfast"]["extendedIngredients"].each.with_index(0) do |ingredient, index| %>
                <p> <%= ingredient["name"] %>  </p>
                <% if index < meal["breakfast"]["extendedIngredients"].length - 1 %>
                  <hr>
                <% end %>
            <% end %>
          </ul>
        </div>
        <div class="information-wrapper" id="instructions">
          <h5 class="mb-4">Instructions</h5>
          <%= meal["breakfast"]["instructions"].html_safe %>
        </div>
      </div>
    </div>
    </div>
  </div>


  <div class="diet-plan-container" data-controller="info-dropdown">
    <div class="diet-container-header">

      <div class="diet-container-image">
        <%= image_tag meal["lunch"]["image"]%>
      </div>

      <div class="diet-container-body">
        <div class="diet-container-titles">
          <h4 class="diet-plan-name">Lunch</h4>
          <h5><%= meal["lunch"]["title"] %></h5>
        </div>

        <div class="diet-symbols">
          <%# insert symbols for diet restrictions %>
        </div>

        <div class="prep-time">
          <p>Time to prepare: <strong><%= meal["lunch"]["readyInMinutes"] %> Minutes</strong></p>
        </div>

        <div class="nutrition-pills">
          <div class="nutrition-pill">
            <p><%= meal["lunch"]["nutrition"]["nutrients"][0]["amount"] %> Calories</p>
          </div>
          <div class="nutrition-pill">
            <p>Protein: <%= meal["lunch"]["nutrition"]["nutrients"][2]["amount"] %> g</p>
          </div>
          <div class="nutrition-pill">
            <p>Carbohydrates: <%= meal["lunch"]["nutrition"]["nutrients"][3]["amount"] %> g</p>
          </div>
          <div class="nutrition-pill">
            <p>Sugar: <%= meal["lunch"]["nutrition"]["nutrients"][8]["amount"] %> g</p>
          </div>
          <div class="nutrition-pill">
            <p>Fat: <%= meal["lunch"]["nutrition"]["nutrients"][5]["amount"] %> g</p>
          </div>
        </div>
        <button type="button" data-info-dropdown-target="button" data-action="click->info-dropdown#toggle" class="more-information-btn">More information</button>
      </div>
    </div>
   <div>
      <div data-info-dropdown-target="content" class="dropdown-content">
        <div class="information-container">
          <div class="information-wrapper">
            <h5 class="mb-4">Ingredients</h5>
              <% meal["lunch"]["extendedIngredients"].each_with_index do |ingredient, index| %>
                <p> <%= ingredient["name"] %>  </p>
                <% if index < meal["lunch"]["extendedIngredients"].length - 1 %>
                  <hr>
                <% end %>
              <% end %>
          </div>
          <div class="information-wrapper">
            <h5 class="mb-4">Instructions</h5>
            <%= meal["lunch"]["instructions"].html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="diet-plan-container" data-controller="info-dropdown">
    <div class="diet-container-header">

      <div class="diet-container-image">
        <%= image_tag meal["dinner"]["image"] %>
      </div>

      <div class="diet-container-body">
        <div class="diet-container-titles">
          <h4 class="diet-plan-name">Dinner</h4>
          <h5><%= meal["dinner"]["title"] %></h5>
        </div>

        <div class="diet-symbols">
          <%# insert symbols for diet restrictions %>
        </div>

        <div class="prep-time">
          <p>Time to prepare: <strong><%= meal["dinner"]["readyInMinutes"] %> Minutes</strong></p>
        </div>

        <div class="nutrition-pills">
          <div class="nutrition-pill">
            <p><%= meal["dinner"]["nutrition"]["nutrients"][0]["amount"] %> Calories</p>
          </div>
          <div class="nutrition-pill">
            <p>Protein: <%= meal["dinner"]["nutrition"]["nutrients"][2]["amount"] %> g</p>
          </div>
          <div class="nutrition-pill">
            <p>Carbohydrates: <%= meal["dinner"]["nutrition"]["nutrients"][3]["amount"] %> g</p>
          </div>
          <div class="nutrition-pill">
            <p>Sugar: <%= meal["dinner"]["nutrition"]["nutrients"][8]["amount"] %> g</p>
          </div>
          <div class="nutrition-pill">
            <p>Fat: <%= meal["dinner"]["nutrition"]["nutrients"][5]["amount"] %> g</p>
          </div>
        </div>
        <button type="button" data-info-dropdown-target="button" data-action="click->info-dropdown#toggle" class="more-information-btn">More information</button>
      </div>
    </div>
   <div>
      <div data-info-dropdown-target="content" class="dropdown-content">
        <div class="information-container">
          <div class="information-wrapper">
            <h5 class="mb-4">Ingredients</h5>
                <% meal["dinner"]["extendedIngredients"].each_with_index do |ingredient, index| %>
                  <p> <%= ingredient["name"] %>  </p>
                  <% if index < meal["dinner"]["extendedIngredients"].length - 1 %>
                    <hr>
                  <% end %>
                <% end %>
          </div>
          <div class="information-wrapper">
            <h5 class="mb-4">Instructions</h5>
            <%= meal["dinner"]["instructions"].html_safe %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
