<h2 style="color:black" class="align-self-start mb-5">Diet Plan</h2>
<h4>Breakfast</h4>
  <ul>
    <% @diet_plan_content["breakfast"].each_pair do |key, value| %>
      <% if key != "total_calories" %>
        <li><%= key.split("_").join(" ") %>   (<strong><em><%= value %>kcal</em></strong>)</li>
      <% end %>
    <% end %>
  </ul>
<h4>Lunch</h4>
  <ul>
    <% @diet_plan_content["lunch"].each_pair do |key, value| %>
      <% if key != "total_calories" %>
        <li><%= key.split("_").join(" ") %>   (<strong><em><%= value %>kcal</em></strong>)</li>
      <% end %>
    <% end %>
  </ul>
<h4>Dinner</h4>
    <ul>
    <% @diet_plan_content["dinner"].each_pair do |key, value| %>
      <% if key != "total_calories" %>
        <li><%= key.split("_").join(" ") %>   (<strong><em><%= value %>kcal</em></strong>)</li>
      <% end %>
    <% end %>
  </ul>
<h4>Snack</h4>
    <ul>
    <% @diet_plan_content["dinner"].each_pair do |key, value| %>
      <% if key != "total_calories" %>
        <li><%= key.split("_").join(" ") %>   (<strong><em><%= value %>kcal</em></strong>)</li>
      <% end %>
    <% end %>
  </ul>
