<h2 style="color:black" class="align-self-start mb-5">Diet Plan</h2>
<h4>Breakfast</h4>
<h5><%= @diet_plan.day_plan_content["breakfast"]["title"] %></h5>
<p>Diets: <%= @diet_plan.day_plan_content["breakfast"]["diets"] %></p>
<p>Calories: <%= @diet_plan.day_plan_content["breakfast"]["nutrition"]["calories"] %></p>
<%= @diet_plan.day_plan_content["breakfast"]%>
<h4>Lunch</h4>
<%= @diet_plan.day_plan_content["lunch"]%>
<h4>Dinner</h4>
<%= @diet_plan.day_plan_content["dinner"]%>
