<h1>Day Plan for <%= @day_plan.day_number %></h1>

<div class="card">
  <h2>Diet Plan</h2>
  <h4>Breakfast</h4>
  <p><%= @diet_plan_content["breakfast"] %></p>
  <h4>Lunch</h4>
  <p><%= @diet_plan_content["lunch"] %></p>
  <h4>Dinner</h4>
  <p><%= @diet_plan_content["dinner"] %></p>
  <h4>Snack</h4>
  <p><%= @diet_plan_content["snack"] %></p>
  <p><%= @diet_plan.day_plan_content%></p>

  <h4>Total calories</h4>
  <p><%= @diet_plan_content["breakfast"]["total_calories"] + @diet_plan_content["lunch"]["total_calories"] + @diet_plan_content["dinner"]["total_calories"] + @diet_plan_content["snack"]["total_calories"] %></p>

  <h2>Exercise Plan</h2>
  <p><%= @exercise_plan.day_plan_content %></p>
</div>
