<h1>Weekly Plans</h1>

<% @weekly_plans.each_with_index do |plan, index| %>
  <a href="/weekly_plans/<%= plan.id %>" class="card">
    <h2>Week <%= index + 1 %></h2>
    <p>Starting weight: <%= plan.current_weight %></p>
    <p>Weight Goal: <%= plan.weight_goal %></p>
    <p>Fitness goal: <%= plan.fitness_goal %></p>
  </a>
<% end %>
<%= link_to "Generate Next Plan", new_weekly_plan_path, class: "btn btn-primary" %>

<%#
<h1>Weekly Plans</h1>

<% @weekly_plans.each do |plan| %>
  <%# <%= link_to @weekly_plan_path(@weekly_plan), "Week #{@weekly_plan.id}" %>
