<div class="weekly-plan-container">
  <div class="sidebar">
      <%= render 'shared/sidebar' %>
  </div>

  <div class="main-content">
    <h1>Weekly Plans</h1>
    <% @weekly_plans.each_with_index do |plan, index| %>
      <a href="/weekly_plans/<%= plan.id %>" class="card">
        <h2>Week <%= index + 1 %></h2>
        <p>Starting weight: <%= plan.current_weight %></p>
        <p>Weight Goal: <%= plan.weight_goal %></p>
        <p>Fitness goal: <%= plan.fitness_goal %></p>
      </a>
    <% end %>
    <div class="generate-button">
      <%= link_to "Generate Your Next Week Plan", new_weekly_plan_path, class: "generate-button" %>
    </div>
  </div>
</div>
<%#
<h1>Weekly Plans</h1>

<% @weekly_plans.each do |plan| %>
  <%# <%= link_to @weekly_plan_path(@weekly_plan), "Week #{@weekly_plan.id}" %>
