<div class="tab-container" data-controller="dashboard">
  <div class="tabs">
    <% day_plans.each_with_index do |day_plan, i| %>
      <div data-action="click->dashboard#switchTab" data-dashboard-target="tab" data-target-id="<%= day_plan.id %>" class="tab <%= "active" if i == 0 %>">Day <%= i + 1 %></div>
    <% end %>
  </div>
  <div class="content">
    <% day_plans.each_with_index do |day_plan, i| %>
      <div data-dashboard-target="day" data-day-id="<%= day_plan.id %>" class="tab-content <%= "active" if i == 0 %>">
        <!-- Content for Tab 1 -->
        Day plan for day <%= i + 1 %>
          <%= render 'diet_plan', diet_plan: @diet_plan, diet_plan_content: @diet_plan_content %>
      </div>
    <% end %>
  </div>
</div>
