<!-- show.html.erb -->
<h1>Welcome, <%= current_user.email %></h1>

<!-- Display user's plans and other content -->
<h2>Your Weekly Plans</h2>
<% @weekly_plans.each do |plan| %>
  <p><%= plan.name %></p>
  <p><%= link_to plan.name, weekly_plan_path(plan) %></p>
  <!-- Display any other relevant plan information -->
<h2>Day Plans for <%= plan.name %></h2>
<% plan.day_plans do |day_plan| %>
  <h3><%= link_to day_plan.day.day_number, day_plan_path(day_plan) %></h3>
    <!-- Display any other relevant day information -->
<% end %>
<% end %>

<!-- Display a button to generate first plans -->
<%= link_to 'Generate First Plans', new_weekly_plan_path, class: 'btn btn-primary' %>
<%= link_to "Plan History", weekly_plans_path, class: "btn btn-primary" %>
