<!-- show.html.erb -->
<h1>Welcome, <%= @user.email %></h1>

  <!-- Display user's plans and other content -->
  <h2>Your Weekly Plans</h2>
  <% @plans.each do |plan| %>
    <p><%= plan.name %></p>
    <!-- Display any other relevant plan information -->
  <% end %>
  <% @weeks.each do |week| %>
  <p><%= link_to week.name, week_plan_path(week) %></p>
  <!-- Display any other relevant week information -->
  <% end %>
  <%# <h2>Day Plans</h2> %>
  <%# <% @days.each do |day| %> %>
    <%# <h3><%= link_to day.day.strftime("%A, %B %d, %Y"), weekly_plan_day_plan_path(day.weekly_plan, day) %></h3> %>
    <!-- Display any other relevant day information -->
  <%# <% end %> %>
  <!-- Display a button to generate first plans -->
  <%= link_to 'Generate First Plans', new_weekly_plan_path(@user), class: 'btn btn-primary' %>
  <%= link_to "Plan History", plan_history_path(@plans), class: "btn btn-primary" %>
